<!--导航栏-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"><!--role="navigation"有助于增加访问性-->
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="font-size:30px"><b>Project</b></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav ">
                <li><a href="#introduce">Introduction</a></li>
            </ul>


            <div class="nav navbar-nav navbar-right navbar-collapse">
{#                <button type="button" class="btn btn-default navbar-btn"><a href="{{ url_for('sign_in') }}">Sign in</a>#}
{#                </button>#}
            <div class="btn-group">
                    <button type="button" class="btn btn-default">Sign in</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" style="min-width:100px">
                        <!-- divided into two sign up page-->
                        <li><a href="{{ url_for('sign_in_c') }}">Customer</a></li>
                        <li><a href="{{ url_for('sign_in_d') }}">Employee</a></li>
                    </ul>
                </div>
                <!-- Split button -->
                <div class="btn-group" style="margin: 10px">
                    <button type="button" class="btn btn-danger">Sign up</button>
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" style="min-width:100px">
                        <!-- divided into two sign up page-->
                        <li><a href="{{ url_for('signupC') }}">Customer</a></li>
                        <li><a href="{{ url_for('signupE') }}">Employee</a></li>
                    </ul>
                </div>

            </div>


        </div>
    </div>
</nav>

