{% extends 'base.html' %}

{% block title%}首页{%endblock%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{%endblock%}

{%block main%}
<div class="row">
    <div class="head_block col-lg-8">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li style="margin-left:45px"><a style="color:#777;"  href="{{url_for('question')}}">提问</a></li>
            <li style="margin-left:15px"><a style="color:#777;"  href="{{url_for('index_answer')}}">回答</a></li>
            <li style="margin-left:10px"><a style="color:#777;"  href="{{url_for('article')}}">写文章</a></li>
          </ul>
        </div>
    </div>

    <div class="index col-lg-12">

         <ul class="list col-lg-8" >
             {%if articles%}
             {% for article in articles%}
             <li class="list-item">
                <div class="avatar-group">
                    <img src="{{url_for('static',filename='uploads/'+article.author.telephone+'头像.jpg')}}" alt="" class="avatar">
                </div>
                <div class="question-information">
                    <span class="question-author" style="font-weight: 600;color:#444;margin-left:6px;margin-bottom:8px;">{{article.author.username}}</span>
                </div>
                <div style="margin-left:15px;">
                    <p style=" margin-top: 2px;font-size: 14px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #646464;">{{article.author.self_introduce}}</p>
                </div>
                <div>
                    <h2 class="question-title" ><a href="{{url_for('detail',question_id=article.id)}}" style="font-size: 18px;font-weight: 600;line-height: 1.6;color: #1a1a1a;margin-left:-1px;margin-top: 40px;margin-bottom: 4px;">{{article.title}}</a></h2>
                </div>
                <div class="question-group">
                     <p class="question-content" style="margin-left:0px;line-height: 1.7;font-size: 13px;">{{article.content}}</p>
                     <div class="question-info"  style="text-align:right;">
                         <span class="question-time">{{article.create_time}}</span>
                     </div>
                </div>
            </li>
             {%endfor%}
             {%endif%}

             {%if questions%}
             {% for question in questions%}
             <li class="list-item">
               <div class="avatar-group">
                     <a href="{{url_for('personal_article',username=question.author.username)}}"><img src="{{url_for('static',filename='uploads/'+question.author.telephone+'头像.jpg')}}" alt="" class="avatar"></a>
                </div>
                <div class="question-information">
                    <a href="{{url_for('personal_article',username=question.author.username)}}"><span class="question-author" style="font-weight: 600;color:#444;margin-left:6px;margin-bottom:8px;">{{question.author.username}}</span></a>
                </div>
                <div style="margin-left:15px;">
                    <p style=" margin-top: 2px;font-size: 14px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #646464;">{{question.author.self_introduce}}</p>
                </div>
                <div>
                    <h2 class="question-title" ><a href="{{url_for('answer_detail',question_id=question.id)}}" style="font-size: 18px;font-weight: 600;line-height: 1.6;color: #1a1a1a;margin-left:-1px;margin-top: 40px;margin-bottom: 4px;">{{question.question_title}}</a></h2>
                </div>
                <div class="question-group">
                     <p class="question-content" style="margin-left:0px;line-height: 1.7;font-size: 13px;">{{question.content}}</p>
                     <div class="question-info"  style="text-align:right;">
                         <span class="question-time">{{question.create_time}}</span>
                     </div>
                </div>
            </li>
             {%endfor%}
             {%endif%}

         </ul>

        <ul class="list3 col-lg-4">
            <li class="list-item3" >
                <div class="user">
                   <div class="content" style="height:253px;">
                       <div class="row" style="margin-left:-10px;">
                          <div class="col-sm-7 col-md-6">
                            <div class="thumbnail">
                              <img src="{{url_for('static',filename='uploads/'+user.telephone+'头像.jpg')}}" alt="" class="avatar2" style="">
                                  <div class="caption">
                                    <h4>{{user.username}}</h4>
                                  </div>
                            </div>
                          </div>
                        </div>
                       <p>{{user.self_introduce}}</p>
                    </div>
                </div>
            </li>
            <div style="clear:both;"></div>
            <li class="list-item3" style="margin-top:8px;">
                <div class="user">
                   <div class="content" style="height:300px;">
                       <div class="list-group">
                          <a href="{{url_for('question')}}" class="list-group-item">提问</a>
                           <a href="{{url_for('index_answer')}}" class="list-group-item">回答</a>
                           <a href="{{url_for('article')}}" class="list-group-item">写文章</a>
                          <a href="{{url_for('persionalInform_edit')}}" class="list-group-item">个人信息修改</a>
                          <a href="{{url_for('personal_article',username=user.username)}}" class="list-group-item"><span class="badge">{{article_num}}</span>我的文章</a>
                          <a href="{{url_for('persional_question',username=user.username)}}" class="list-group-item"><span class="badge">{{question_num}}</span>我的提问</a>
                          <a href="{{url_for('personal_answer',username=user.username)}}" class="list-group-item"><span class="badge">{{answer_num}}</span>我的回答</a>
                        </div>
                   </div>
                </div>
            </li>
            <div style="clear:both;"></div>
            <li class="list-item3" style="margin-top:8px;">
                <div class="user">
                   <div class="content" style="height:293px;">
                       <p>推荐问题</p>
                   </div>
                </div>
            </li>
        </ul>


    </div>

</div>
<!-- 内容 -->
{%endblock%}