{% extends "logged_base.html" %}

{% block content %}

<div class="table-responsive" style="margin-top: 100px;margin-right: 200px;margin-left: 200px">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">Order No</th>
                <th class="text-center">Order Date</th>
                <th class="text-center">Attending doctor</th>
                <th class="text-center">Condition</th>
                <th class="text-center">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">A1324C5</td>
                <td class="text-center">2020/01/24</td>
                <td class="text-center">Allen</td>
                <td class="text-center">Dead</td>
                <td>
                    <button class="btn btn-default appform_button">Information</button>
                    <button class="btn btn-primary appform_button">Trace</button>
                    <button class="btn btn-success appform_button">Modify</button>
                    <button class="btn btn-danger appform_button">Delete</button>
                </td>
            </tr>
            <tr>
                <td class="text-center">A1324C5</td>
                <td class="text-center">2020/01/24</td>
                <td class="text-center">Allen</td>
                <td class="text-center">Dead</td>
                <td>
                    <button class="btn btn-default appform_button">Information</button>
                    <button class="btn btn-primary appform_button">Trace</button>
                    <button class="btn btn-success appform_button">Modify</button>
                    <button class="btn btn-danger appform_button">Delete</button>
                </td>
            </tr>
            <tr>
                <td class="text-center">A1324C5</td>
                <td class="text-center">2020/01/24</td>
                <td class="text-center">Allen</td>
                <td class="text-center">Dead</td>
                <td>
                    <button class="btn btn-default">Information</button>
                    <button class="btn btn-primary">Trace</button>
                    <button class="btn btn-success">Modify</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}