<!--Yiming Sun(2020/3/14)-->
{% extends "logged_base.html" %}

{% block content %}




    <div class="container col-lg-offset-2 col-lg-8" style="margin-top: 100px">
        <div class="col-lg-1" style="margin-top: 100px">
            <a href="{{ url_for('location_type') }}" class="navbar-right navbar-collapse">
                <img src="../static/Picture/back.jpg" alt="N" class="img-circle"
                style="height: 80px;width: 80px;margin-right: 10px" id="pp">
        </a>
        </div>
        <div style="margin-top: 100px;">
            <h1 class="text-center">
                <b>{{_("Please choose your appointment type:")}}</b>
            </h1>
        </div>

        <div class="container col-lg-offset-2 col-lg-3" style="margin-top: 80px;">
            <a class="btn btn-default" href="{{ url_for('New_appointment') }}" role="button" style="border: 2px solid black;border-radius:30px;">
                <h3 class="text-center">{{_("NORMAL")}}</h3><br><br>
                <img class="img-responsive center-block img-rounded" src="../static/Picture/normal.jpg"><br><br><br>
                <p  class="text-center">{{_("tip:This is normal appointment")}}</p>
            </a>

        </div>
        <div class="container col-lg-offset-2 col-lg-3" style="margin-top: 80px;">
            <a class="btn btn-default" href="{{ url_for('Urgent_appointment') }}" role="button" style="border: 2px solid black;border-radius:30px;">
                <h3 class="text-center">{{_("URGENT")}}</h3><br><br>
                <img class="img-responsive center-block img-rounded" src="../static/Picture/urgent.jpg"><br><br><br>
                <p  class="text-center">{{_("tip:This is urgent appointment")}}</p>
            </a>
        </div>
    </div>


{% endblock %}