{% extends "base.html" %}

{% block styles %}
{{super()}}
<style>




	.intro{
		word-break:break-all;
		width:800px;
		float: left;
		margin: 40px 60px
	}
</style>

{% endblock %}



{% block content %}


<div class="container" style="position: relative">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<h2>
					{{ _("Welcome to Healing Paws Veterinary Hospital !") }}
				</h2>
				<p>
					{{ _("Healing Paws Veterinary Hospital is an animal specialty hospital that treats dogs and cats only. Its business covers pet health care, remote Internet diagnosis and pet condition laboratory diagnosis. The hospital is located in three locations: Beijing, Shanghai and Chengdu.") }}</p>
				<p>
					 <a class="btn btn-primary btn-large" href="#">{{ _("Learn more") }}</a>
				</p>
			</div>
			<div class="carousel slide" id="carousel-258238">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-258238">
					</li>
					<li data-slide-to="1" data-target="#carousel-258238">
					</li>
					<li data-slide-to="2" data-target="#carousel-258238">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="../static/Picture/home1.jpg" />
						<div class="carousel-caption">
							<h4>
								{{ _("First Thumbnail label") }}
							</h4>
							<p>
								{{ _("Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.") }}
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="../static/Picture/home2.jpg" />
						<div class="carousel-caption">
							<h4>
								{{ _("Second Thumbnail label") }}
							</h4>
							<p>
								{{ _("Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.") }}
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="../static/Picture/home3.jpg" />
						<div class="carousel-caption">
							<h4>
								{{ _("Third Thumbnail label") }}
							</h4>
							<p>
								{{ _("Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.") }}
							</p>
						</div>
					</div>
				</div>
                <a class="left carousel-control" href="#carousel-258238" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#carousel-258238" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
			<h2>
				{{ _("Dog cataract") }}
			</h2>
			<p>
				{{ _("Dog cataract is actually the turbidity of the lens capsule. The lens in the normal eye is transparent and colorless, and if it is cloudy, white and opaque.") }}</p>

		</div>
		<div class="col-md-4 column">
			<h2>
				{{ _("cat sterilization") }}
			</h2>
			<p>
				{{ _("Whether you want to sterilize cats are always confusing the owners, so do you need to sterilize cats? What are the benefits of cat sterilization?") }}
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				{{ _("cat's illness") }}
			</h2>
			<p>
				{{ _("How to judge a cat's illness? Is there any difference between the behavior of a cat when it is ill and that of a normal cat") }}
            </p>
			<p>
				 <a class="btn" href="{{ url_for('detail') }}">{{ _("View details") }} »</a>
			</p>
		</div>
	</div><br>



	<div id="introduce" style="margin-top: 80px">
		<h1 class="text-center">{{ _("Doc Introduction") }}</h1>
		<div>
			<div style="height: 150px;margin: 80px 0px">
				<img src="../static/Picture/d1.jpg" alt="N" class="img-circle"
                     style="height: 150px;width: 150px;margin-right: 10px;float: left" >

				<p class="intro">Dr. Alex<br>
                    {{ _("Age") }}: 33<br>
                    {{ _("Male") }}<br>
                    {{ _("Graduate from Milan Brera Academy of Fine Arts which is a college has the most popular Veterinary profession of the world. Also he passed the national unified veterinary qualification examination ten years ago and good at animal diagnosis, treatment, surgery.") }}
                </p>
			</div>
			<div style="height: 150px;margin: 80px 0px">
                <img src="../static/Picture/d2.jpg" alt="N" class="img-circle"
                     style="height: 150px;width: 150px;margin-right: 10px;float: left" >
				<p class="intro">
                    Dr. Jesus<br>
                    {{ _("Age: 40") }}<br>
                    {{ _("Female") }}<br>
                    {{ _("The Master of Clinical Veterinary Medicine, China Agricultural University, also the chairman of the Pet Veterinary Association of China Veterinary Association, proficient in animal anatomy, animal histology and embryology, animal histology and embryology experiments.") }}
                </p>


			</div>
			<div style="height: 150px;margin: 80px 0px">
				<img src="../static/Picture/d3.jpg" alt="N" class="img-circle"
                     style="height: 150px;width: 150px;margin-right: 10px;float: left" >
				<p class="intro">
                    Dr. William<br>
                    {{ _("Age") }}: 55<br>
                    {{ _("Male") }}<br>
                    {{ _("He has accumulated a wealth of clinical experience, especially in canine infectious diseases, obstetrics and surgical diseases. Over the years, he has published more than 20 papers, two of which won the second prize, and many of them won the third prize.") }}
                </p>
			</div>



		</div>
	</div>



</div>

{% endblock %}


