{% extends "base.html" %}

{% block styles %}
{{super()}}
<style>
	.intro{
		word-break:break-all;
		width:800px;
		float: left;
		margin: 40px 60px
	}
</style>

{% endblock %}



{% block content %}

<div class="container" style="position: relative">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<h2>
					Hello, world!
				</h2>
				<p>
					This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
				</p>
				<p>
					 <a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>
			</div>
			<div class="carousel slide" id="carousel-258238">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-258238">
					</li>
					<li data-slide-to="1" data-target="#carousel-258238">
					</li>
					<li data-slide-to="2" data-target="#carousel-258238">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="../static/Picture/home1.jpg" />
						<div class="carousel-caption">
							<h4>
								First Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="../static/Picture/home2.jpg" />
						<div class="carousel-caption">
							<h4>
								Second Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="../static/Picture/home3.jpg" />
						<div class="carousel-caption">
							<h4>
								Third Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-258238" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-258238" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
			<h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				 <a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				 <a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				 <a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div><br>



	<div id="introduce" style="margin-top: 80px">
		<h1 class="text-center">Introduction</h1>
		<div>
			<div style="height: 150px;margin: 80px 0px">
				<img src="../static/upload_photo/default.jpg" alt="N" class="img-circle"
                     style="height: 150px;width: 150px;margin-right: 10px;float: left" >

				<p class="intro">adsadddddd dsds s f ds  ds dfa f g af g  fg f gaf g f gsf g mrgaemg mrg nae rgmnragmn rmaen rgmnea rgmne rngm agmner gamner gmae rgmddddddddddddddddddddddddd</p>
			</div>
			<div style="height: 150px;margin: 80px 0px">
				<p class="intro">adsaddddddd ddddddddd  dddddddddddd dddddddddd  dddddddddd dddddddddd  dddddddddddddddd ddddddddddddd  dd dddddd dddddddd dddddddd</p>
				<img src="../static/upload_photo/default.jpg" alt="N" class="img-circle"
                     style="height: 150px;width: 150px;margin-right: 10px;float: left" >

			</div>
			<div style="height: 150px;margin: 80px 0px">
				<img src="../static/upload_photo/default.jpg" alt="N" class="img-circle"
                     style="height: 150px;width: 150px;margin-right: 10px;float: left" >
				<p class="intro">adsadd ddd ddddddd awf  m mfa mnr ,amrg , garddd ddd d fsa sdaa w r jlrtj reqtjrh tkj whrjt hwjrh twhtiuhwut  uwrhg gufdgkjf dgh fh lgjhfglhfg f g fg flgsdddddddddd ddd</p>
			</div>



		</div>
	</div>











</div>
{##}
{#<!--标题-->#}
{#    <div class="container">#}
{#        <div  style="margin-top: 80px;">#}
{#            <h1 class="text-center">Welcome to the XXX</h1>#}
{#        </div>#}
{##}
{#    </div>#}
{##}
{#<!--轮播效果-->#}
{#        <div class="container">#}
{#            <!--    data-ride="carousel"指在页面加载好了以后还是轮播  -->#}
{#            <div id="slidershow" class="carousel slide" data-ride="carousel" style="width: 100%;height: 100%; margin-left:auto; margin-right:auto;">#}
{##}
{#                <ol class="carousel-indicators">#}
{#                    <li class="active" data-target="#slidershow" data-slide-to="0" ></li>#}
{#                    <li data-target="#slidershow" data-slide-to="1"></li>#}
{#                    <li data-target="#slidershow" data-slide-to="2"></li>#}
{#                </ol>#}
{##}
{#            <div  class="carousel-inner" role="listbox">#}
{#		        <div class="item active">#}
{#		            <a href="##"><img src="../static/Picture/home1.jpg" alt="cat1"></a>#}
{#		        </div>#}
{#                <div class="item">#}
{#		            <a href="##"><img src="../static/Picture/home2.jpg" alt="cat2"></a>#}
{#		        </div>#}
{#		        <div class="item">#}
{#		            <a href="##"><img src="../static/Picture/home3.jpg" alt="cat3"></a>#}
{#		        </div>#}
{#		    </div>#}
{##}
{#            <a class="left carousel-control" href="#slidershow" role="button" data-slide="prev" >#}
{#		        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>#}
{#                <span class="sr-only">Previous</span>#}
{#		    </a>#}
{#		    <a class="right carousel-control" href="#slidershow" role="button" data-slide="next">#}
{#	            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>#}
{#                <span class="sr-only">Next</span>#}
{#	        </a>#}
{#            </div>#}
{#        </div>#}
{##}
{#<!--标题-->#}
{#    <div class="container">#}
{#        <div  style="margin-top: auto;">#}
{#            <h1 class="text-center">Introduction</h1>#}
{#        </div>#}
{#    </div>#}

{% endblock %}


