{% extends "base.html" %}

{% block styles %}
{{super()}}
    <style>
        html,body {
            width: 100%;
            height: 100%;
            background-image:url('../static/Picture/signup.jpg');
            background-repeat:no-repeat;
            background-attachment: fixed;
            background-size:100% 100%;
            -moz-background-size:100% 100%;
        }
    </style>

{% endblock %}


{% block scripts %}
{{super()}}
    <script>
        $(document).ready(function(){


            $("#username").after("<span id='username_msg'></span>");
            $("#id").after("<span id='id_msg'></span>");
            $("#phone").after("<span id='phone_msg'></span>");
            $("#email").after("<span id='email_msg'></span>");
            $("#repeat_password").after("<span id='repeat_password_msg'></span>");

            $("#username").change(function () {

                $.ajax({
                    url:'/signupE',
                    type:'POST',
                    data:{"username":$("#username").val(),"type":"username"},
                    success:function (data) {
                        if(data == "correct"){
                            $("#username_msg").removeClass("bg-danger");
                            $("#username_msg").addClass("bg-success");
                        }
                        else{
                            $("#username_msg").removeClass("bg-success");
                            $("#username_msg").addClass("bg-danger");
                        }
                        $("#username_msg").text(data);
                   },
                   error:function () {

                   }
                })
            });
            $("#email").change(function () {

                $.ajax({
                    url:'/signupE',
                    type:'POST',
                    data:{"email":$("#email").val(),"type":"email"},
                    success:function (data) {
                        if(data == "correct"){
                            $("#email_msg").removeClass("bg-danger");
                            $("#email_msg").addClass("bg-success");
                        }
                        else{
                            $("#email_msg").removeClass("bg-success");
                            $("#email_msg").addClass("bg-danger");
                        }
                        $("#email_msg").text(data);
                   },
                   error:function () {

                   }
                })
            });
            $("#phone").change(function () {

                $.ajax({
                    url:'/signupE',
                    type:'POST',
                    data:{"phone":$("#phone").val(),"type":"phone"},
                    success:function (data) {
                        if(data == "correct"){
                            $("#phone_msg").removeClass("bg-danger");
                            $("#phone_msg").addClass("bg-success");
                        }
                        else{
                            $("#phone_msg").removeClass("bg-success");
                            $("#phone_msg").addClass("bg-danger");
                        }
                        $("#phone_msg").text(data);
                   },
                   error:function () {

                   }
                })
            });
            $("#id").change(function () {

                $.ajax({
                    url:'/signupE',
                    type:'POST',
                    data:{"id":$("#id").val(),"type":"id"},
                    success:function (data) {
                        if(data == "correct"){
                            $("#id_msg").removeClass("bg-danger");
                            $("#id_msg").addClass("bg-success");
                        }
                        else{
                            $("#id_msg").removeClass("bg-success");
                            $("#id_msg").addClass("bg-danger");
                        }
                        $("#id_msg").text(data);
                   },
                   error:function () {

                   }
                })
            });
            $("#repeat_password").change(function () {

                $.ajax({
                    url:'/signupE',
                    type:'POST',
                    data:{"repeat_password":$("#repeat_password").val(),"password":$("#password").val(),"type":"password"},
                    success:function (data) {
                        if(data == "correct"){
                            $("#repeat_password_msg").removeClass("bg-danger");
                            $("#repeat_password_msg").addClass("bg-success");
                        }
                        else{
                            $("#repeat_password_msg").removeClass("bg-success");
                            $("#repeat_password_msg").addClass("bg-danger");
                        }
                        $("#repeat_password_msg").text(data);
                   },
                   error:function () {

                   }
                })
            });

        })

    </script>


{% endblock %}




{% block content %}

<div class="container" >
    <div class="title col-lg-6 col-lg-offset-6">
        <h2 class="text-center" style="margin-top: 80px;">{{ _("Sign up(Employee)")}}</h2>
    </div>
    <div id="up_form" class="col-lg-6 col-lg-offset-6" style="margin-top: 20px; border: solid black 2px;border-radius:30px;">
        <div class="flash-message" style="margin: 10px 10px">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul  class="col-lg-10">
                {% for message in messages %}
                    <li class="alert alert-danger" role="alert" style="list-style-type:none;">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <br>

    <div class="col-lg-10 col-lg-offset-2" style="margin: 20px 10px">
        {% import 'bootstrap/wtf.html' as wtf%}
        {{ wtf.quick_form(form) }}
    </div>
    </div>


</div>

{% endblock %}